<div class="well">
  <div class="row">
    <%= simple_form_for @stats_form, url: dashboard_overview_path(@cooperative), method: :get do |f| %>
    <div class="col-sm-6">
      <%= f.input :model, as: :select, collection: f.object.models %>
      <%= f.input :column, as: :select, collection: f.object.columns %>
      <%= f.input :group_by, as: :select, collection: f.object.group_bys %>
    </div>
    <div class="col-sm-6">
      <%= f.submit 'Uppdatera', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h3>Members created by day</h3>
      <%= line_chart charts_created_date_path(@stats_form.chart_params), min: 0 %>
    </div>
  </div>
</div>

<% content_for(:page_js) do %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>
