<div class="modal fade bs-contacted-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add occasion</h4>
      </div>
      <div class="modal-body">
        <div id="modal_form_contacteds">
          <%= render :partial => 'shared/worker_info_form', locals: {type: :contacted} %>
        </div>
      </div>
    </div>
  </div>
</div>
<h2>
<%= t('table.header', activity: current_user.activities.first.name) %>
</h2>
<br>
<%= link_to t('table.choose.link'), table_choose_path, input_html = {class: 'pull-right btn btn-warning'} %>
<%= render 'table/form' %>

<%= render :partial => 'members/table' %>
