<h1><%= t('header.user_member') %></h1>
<% @members.each do |member| %>
<div class="panel panel-default">
  <div class="panel-body">
    <h5>
    <%= member.name %>, <%= member.mobile %>, <%= date(@user_members.find_by(member_id: member.id).created_at) %>, 
    <%= link_to user_member_path(@user_members.find_by(member_id: member)),
      method: :delete,
      data: { confirm: t('accounts.table_header.confirm_delete') }  do %>
      <div style="font-size: 1.1em; display:inline-block">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </div>
    <% end %>
    </h5>
    <%= @user_members.find_by(member_id: member.id).comment %>
  </div>
</div>
<% end %>

<%= paginate @members %>