<h1><%= t('header.user_member') %></h1>

<% @user_members.each do |user_member| %>
  <% member = @members.find_by_id(user_member.member_id) %>
  <%= render 'user_members/update_user_member', user_member: user_member, member: member %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>
      <%= member.name %>, <%= member.mobile %>, <%= date(user_member.created_at) %>,
      <a data-toggle="modal" data-target="#userMemberFormModel<%= member.id %>" onclick="set_form_member_id(<%= member.id %>)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>,
      <%= link_to(user_member_path(user_member),
        method: :delete,
        data: { confirm: t('accounts.table_header.confirm_delete') }) do %>
        <div style="font-size: 1.1em; display:inline-block">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </div>
      <% end %>
      </h5>
      <%= user_member.comment %>
    </div>
  </div>
<% end %>

<%= paginate @user_members %>
