<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('member.date') %></th>
      <th><%= t('member.activity') %></th>
      <th><%= t('common.comment') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% contacteds.each do |contacted| %>
      <tr>
        <td><%= date(contacted.created_at) %></td>
        <td><%= format_statistics_info(contacted.activity) %></td>
        <td><%= contacted.comment %></td>
        <td> <%= link_to t('common.delete'), [contacted.member, contacted],
             method: :delete,
             data: { confirm: t('common.confirm_destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>