<div class="form-group">
  <label>Activity</label>

  <h5>Club and Bar</h5>
  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Svartklubben", false %>
      Svartklubben
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Heartland", false %>
      Heartland
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Foxen", false %>
      Foxen
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Electrified", false %>
      Electrified
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Pub", false %>
      Pub
    </label>
  </div>

  <h5>Cooking and Cafe</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Lunch", false %>
      Lunch
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Cafe", false %>
      Cafe
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Sittning cooking", false %>
      Cooking sittning
    </label>
  </div>

  <h5>Others</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Serving sittning", false %>
      Serving sittning
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Photo", false %>
      Photo
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Graphic", false %>
      Graphic
    </label>
  </div>
</div>
