<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('member.date') %></th>
      <th><%= t('member.activity') %></th>
      <th><%= t('form.comment') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% worker_info.each do |info| %>
      <tr>
        <td><%= info.date %></td>
        <td><%= info.activity %></td>
        <td>
          <% if info.comment %>
            <%= info.comment %>
          <% end %>
        </td>
        <td> <%= link_to 'Delete', [@cooperative, info.member, info],
             method: :delete,
             data: { confirm: t('member.confirm_destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>