  <!-- Adds a form to add a worked and contacted occasion -->
<% @members.each do |member| %>
<div id="add_worked_form<%=member.id%>" style="display:none">
<%= form_for([member, member.jobs.build]) do |f| %>

  <div class="form-group">
    <label>Activity</label>

    <h5>Club and Bar</h5>
    <div class="radio">
      <label>
        <%= radio_button_tag :activity, "Svartklubben", false %>
        Svartklubben
      </label>
    </div>

    <div class="radio">
      <label>
        <%= radio_button_tag :activity, "Heartland", false %>
        Heartland
      </label>
    </div>

    <div class="radio">
      <label>
        <%= radio_button_tag :activity, "Foxen", false %>
        Foxen
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="inputCommentjobs">Comment</label>
    <%= f.text_area :comment, :placeholder => "Optional", :class => "form-control", :id => "inputCommentjobs" %>
  </div>

  <%= f.submit :value => "Save",  :class => "btn btn-default" %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

<% end %>
</div>
<% end %>
