<%= render 'user_members/user_member_form' %>
<div class='jumbotron'>
<h1><%= @member.name %></h1>
<p><strong><%= t('form.mobile') %>: </strong><span class="glyphicon glyphicon-earphone" aria-hidden="true"><%= @member.mobile %></p>
<p><strong><%= t('randomizer.created_at') %> </strong><%= format_date(@member.created_at) %></p>
<p>
<p>
  <%= 
    [
      'I stepped on a Cornflake, and now I am a cereal killer.',
      'Nobody dies a virgin, because life fucks us all.',
      "Future depends on your dreams. So go to sleep.",
      "You all laugh because I'm different - I laugh because you're all the same.",
      "Light travels faster than sound. This is why some people appear bright until you hear them speak.",
      "Children in backseats cause accidents. Accidents in backseats cause children.",
      "Banana error.",
      "Llamas eat sexy paper clips.",
      "Everyday a grape licks a friendly cow.",
      "Opinions are like assholes; everybody's got one, and they're often full of shit.",
      "When I die, I want to go peacefully like my grandfather did–in his sleep. Not yelling and screaming like the passengers in his car.",
      "Friendship is like peeing on yourself: everyone can see it, but only you get the warm feeling that it brings.",
      "Orange error.",
      "Apple error.",
      "Skanken error.",
      "180 cm.",
      "I’ll be your Dostoevsky, if you’ll be my Tolstoy. Our life together will be so full of despair that death will be like a gulag full of joy.",
      "You are the shuckiest shuck faced shuck in the world!",
      "I want my kids to have the things in life that I never had when I was growing up. Things like beards and chest hair."
    ].sample
  %>
</p>
  <%= link_to t('randomizer.next'), randomizer_show_path( activity_id: @activity.id), class: 'btn btn-lg btn-warning' %>
   <a data-toggle="modal" data-target="#userMemberFormModel" class="btn btn-lg btn-success" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= t('randomizer.user_member') %></a>  
</p>
</div>


<h3><%= t('randomizer.contacted_table') %></h3>
<% if @member.contacteds.empty? %>
  <p><%= t('randomizer.never_contacted') %></p>
<% else %>
  <%= render :partial => 'shared/member_statistics_table', locals: {statistics: @member.contacteds}  %>
<% end %>
