<%= simple_form_for @cooperative, url: cooperative_path(@cooperative) do |f| %>

  <%= f.input :name  %>
  <%= f.input :activities, label: "Edit activity", hint: "All activities should be seperated by a comma and space. Example: Lunch, Club, Pub" %>
  <%= f.button :submit %>
  <a type="button" class="btn btn-default" href='<%=cooperative_members_path(@cooperative) %>'>Close</a>
<% end %>