<%= simple_form_for @cooperative, url: cooperative_path(@cooperative) do |f| %>

  <%= f.input :name  %>
  <%= f.input :activities, label: "Add activity", placeholder: "" %>
  <%= f.button :submit %>
  <a type="button" class="btn btn-default" href='<%=cooperative_members_path(@cooperative) %>'>Close</a>
<% end %>

