<h3>Import workerlist from excel</h3>
<p>The file need to be in csv format! Currently import only supports files simmilar to Sydskånskas Jobbarlista. The import may take a few seconds <strong> when the import has started wait until it is done </strong></p>

<%= simple_form_for @cooperative, url: cooperative_import_path, method: :post do |f| %>
	<%= f.input :surname, required: true %>
	<%= f.input :last_name, required: true %>
	<%= f.input :mobile, required: true %>
	<%= f.input :interested_in_working_with %>
	<%= f.input :date_added %>
	<%= f.input :email %>
	<%= f.input :date_of_birth %>
	<%= f.input :last_contacted %>
	<%= f.input :comment %>
	<%= f.input :file, as: :file %>
	<%= f.button :submit %>
<% end %>

<br>
<br>
<br>

<%= form_tag cooperative_import_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>

<br>
<br>

<h3>Delete all workers in the worker list</h3>
<%= link_to 'Delete all workers', cooperative_clear_path, :class => 'btn btn-danger', data: {confirm: "Are you sure? This will delete all worker data"} %>
