<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% @cooperative = Cooperative.find(current_user.cooperative_id) %>
        <li><%= link_to 'Worker list', cooperative_members_path(@cooperative) %></li>
        <li><%= link_to 'New worker', new_cooperative_member_path(@cooperative) %></li>
        <li><%= link_to 'Creators', info_creators_path %></li>
        <li><%= link_to 'Admin', cooperative_admin_path(@cooperative) %></li>
        <li><%= link_to 'Edit cooperative', edit_cooperative_path(@cooperative) %></li>
        <li><%= link_to 'Account list', cooperative_accounts_path(@cooperative) %></li>
        <li><%= link_to 'New account', new_cooperative_account_path(@cooperative) %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

