<!DOCTYPE html>
<html>
<head>
  <title>Skanken</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">

    <% if user_signed_in? && !current_user.cooperative_id.nil? %>
    <div class="page-header">
      <h1> <%=Cooperative.find(current_user.cooperative_id).name %> <small>helge vare gösta</small></h1>
    </div>
    <header>
      <%= render :partial => 'layouts/navbar' %>
    </header>
    <% end %>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
