<!-- Initialize jQuery datatable -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#worker_table").DataTable();
  });
</script>

<table id="worker_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th id="members_list_worked">Worked</th>
      <th id="members_list_contacted">Contacted</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr class="worker_row">
      <td data-toggle="collapse" data-target=".<%=member.id%>" class="accordion-toggle"><%= member.name %></td>
      <td data-toggle="collapse" data-target=".<%=member.id%>" class="accordion-toggle"><%= member.mobile %></td>
      <td>
        <%= member.jobs.length %>
        <span data-toggle="modal" data-target=".bs-example-modal-sm" onclick="addHTMLToForm(<%=member.id%>, 'worked')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td>
        <%= member.contacteds.length %>
        <span data-toggle="modal" data-target=".bs-example-modal-sm" onclick="addHTMLToForm(<%=member.id%>, 'contacted')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td><%= link_to 'Show', member_path(member) %></td>
      <!-- This is added to enable an easy filtering by acitivity -->
      <td id="members_list_work" style="display:none"> <%= member.work %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<!-- Adds a form to add a worked and contacted occasion -->
<% @members.each do |member| %>
<div id="add_worked_form<%=member.id%>" style="display:none">
<%= form_for([member, member.jobs.build]) do |f| %>

<div class="form-group">
  <label>Activity</label>

  <h5>Club and Bar</h5>
  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Svartklubben", false %>
      Svartklubben
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Heartland", false %>
      Heartland
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Foxen", false %>
      Foxen
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Electrified", false %>
      Electrified
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Pub", false %>
      Pub
    </label>
  </div>

  <h5>Cooking and Cafe</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Lunch", false %>
      Lunch
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Cafe", false %>
      Cafe
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Sittning cooking", false %>
      Cooking sittning
    </label>
  </div>

  <h5>Others</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Serving sittning", false %>
      Serving sittning
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Photo", false %>
      Photo
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Graphic", false %>
      Graphic
    </label>
  </div>
</div>

<div class="form-group">
  <label for="inputCommentContacted">Comment</label>
  <%= f.text_area :comment, :placeholder => "Optional", :class => "form-control", :id => "inputCommentContacted" %>
</div>

<%= f.submit :value => "Save",  :class => "btn btn-default" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

<% end %>
</div>


<div id="add_contacted_form<%=member.id%>" style="display:none">
<%= form_for([member, member.contacteds.build]) do |f| %>

<div class="form-group">
  <label>Activity</label>

  <h5>Club and Bar</h5>
  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Svartklubben", false %>
      Svartklubben
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Heartland", false %>
      Heartland
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Foxen", false %>
      Foxen
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Electrified", false %>
      Electrified
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Pub", false %>
      Pub
    </label>
  </div>

  <h5>Cooking and Cafe</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Lunch", false %>
      Lunch
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Cafe", false %>
      Cafe
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Sittning cooking", false %>
      Cooking sittning
    </label>
  </div>

  <h5>Others</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Serving sittning", false %>
      Serving sittning
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Photo", false %>
      Photo
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Graphic", false %>
      Graphic
    </label>
  </div>
</div>

<div class="form-group">
  <label for="inputCommentContacted">Comment</label>
  <%= f.text_area :comment, :placeholder => "Optional", :class => "form-control", :id => "inputCommentContacted" %>
</div>

<%= f.submit :value => "Save",  :class => "btn btn-default" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

<% end %>
</div>

<% end %>