<table class="table table-hover" id="worker_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th id="members_list_worked">Worked</th>
      <th id="members_list_contacted">Contacted</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody id="worker_table">
    <% @members.each do |member| %>
    <tr class="worker_row">
      <td data-toggle="collapse" data-target=".<%=member.id%>" class="accordion-toggle"><%= member.name %></td>
      <td data-toggle="collapse" data-target=".<%=member.id%>" class="accordion-toggle"><%= member.mobile %></td>
      <td>
        <%= member.jobs.length %>
        <span data-toggle="modal" data-target=".bs-example-modal-sm" onclick="addHTMLToForm(<%=member.id%>, 'worked')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td>
        <%= member.contacteds.length %>
        <span data-toggle="modal" data-target=".bs-example-modal-sm" onclick="addHTMLToForm(<%=member.id%>, 'contacted')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td><%= link_to 'Show', member_path(member) %></td>
      <!-- This is added to enable an easy filtering by acitivity -->
      <td id="members_list_work" style="display:none"> <%= member.work %> </td>
      </tr>
      <% if member.jobs.length.to_s != 0.to_s %>
      <tr>
        <td colspan="6" class="hiddenRow">
          <div class="accordian-body collapse <%=member.id%>"> 
            <h3>Worked</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Activity</th>
                  <th>Comment</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% member.jobs.each do |job| %>
                <tr>
                  <td><%= job.date %></td>
                  <td><%= job.activity %></td>
                  <td>
                    <% if job.comment %>
                    <%= job.comment %>
                    <% end %>
                  </td>
                  <td> <%= link_to 'Delete', [job.member, job],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %></td>
                 </tr>
                 <% end %>
               </tbody>
             </table>

           </div> 
         </td>
       </tr>
       <% end %>
       <% if member.contacteds.length.to_s != 0.to_s %>
       <tr>
        <td colspan="6" class="hiddenRow">
          <div class="accordian-body collapse <%=member.id%>"> 
            <h3>Contacted</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Activity</th>
                  <th>Comment</th>
                  <th colspan="1"></th>
                </tr>

              </thead>
              <% member.contacteds.each do |contacted| %>
              <tbody>
                <tr>
                  <td><%= contacted.date %></td>
                  <td><%= contacted.activity %></td>
                  <td><%= contacted.comment %></td>
                  <td> <%= link_to 'Delete', [contacted.member, contacted],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %></td>
                 </tr>
               </tbody>
               <% end %>
             </table>
           </div> 
         </td>
       </tr>
       <% end %>
       <% if member.jobs.length.to_s == 0.to_s && member.contacteds.length.to_s == 0.to_s %>
       <tr>
        <td colspan="6" class="hiddenRow">
          <div class="accordian-body collapse <%=member.id%>"><p class="lead" style="margin-left:20px">No history</p>
          </div>
        </td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

<!-- Adds a form to add a worked and contacted occasion -->
<% @members.each do |member| %>
<div id="add_worked_form<%=member.id%>" style="display:none">
<%= form_for([member, member.jobs.build]) do |f| %>

<div class="form-group">
  <label>Activity</label>

  <h5>Club and Bar</h5>
  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Svartklubben", false %>
      Svartklubben
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Heartland", false %>
      Heartland
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Foxen", false %>
      Foxen
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Electrified", false %>
      Electrified
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Pub", false %>
      Pub
    </label>
  </div>

  <h5>Cooking and Cafe</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Lunch", false %>
      Lunch
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Cafe", false %>
      Cafe
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Sittning cooking", false %>
      Cooking sittning
    </label>
  </div>

  <h5>Others</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Serving sittning", false %>
      Serving sittning
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Photo", false %>
      Photo
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Graphic", false %>
      Graphic
    </label>
  </div>
</div>

<div class="form-group">
  <label for="inputCommentContacted">Comment</label>
  <%= f.text_area :comment, :placeholder => "Optional", :class => "form-control", :id => "inputCommentContacted" %>
</div>

<%= f.submit :value => "Save",  :class => "btn btn-default" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

<% end %>
</div>


<div id="add_contacted_form<%=member.id%>" style="display:none">
<%= form_for([member, member.contacteds.build]) do |f| %>

<div class="form-group">
  <label>Activity</label>

  <h5>Club and Bar</h5>
  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Svartklubben", false %>
      Svartklubben
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Heartland", false %>
      Heartland
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Foxen", false %>
      Foxen
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Electrified", false %>
      Electrified
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Pub", false %>
      Pub
    </label>
  </div>

  <h5>Cooking and Cafe</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Lunch", false %>
      Lunch
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Cafe", false %>
      Cafe
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Sittning cooking", false %>
      Cooking sittning
    </label>
  </div>

  <h5>Others</h5>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Serving sittning", false %>
      Serving sittning
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Photo", false %>
      Photo
    </label>
  </div>

  <div class="radio">
    <label>
      <%= radio_button_tag :activity, "Graphic", false %>
      Graphic
    </label>
  </div>
</div>

<div class="form-group">
  <label for="inputCommentContacted">Comment</label>
  <%= f.text_area :comment, :placeholder => "Optional", :class => "form-control", :id => "inputCommentContacted" %>
</div>

<%= f.submit :value => "Save",  :class => "btn btn-default" %>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

<% end %>
</div>

<% end %>