<%= form_for :member, url: members_path do |f| %>

  <div class="form-group">
     <label>Name</label>
    <%= f.text_field :name, :placeholder => "Enter name", :class => "form-control" %><br>
  </div>

  <div class="form-group">
     <label>Mobile</label>
    <%= f.text_field :mobile, :placeholder => "Enter mobile number", :class => "form-control" %><br>
  </div>

  <div class="form-group">
     <label>Email</label>
    <%= f.text_field :email, :placeholder => "Enter email", :class => "form-control" %><br>
  </div>

  <div class="form-group">
     <label>Person Id</label>
    <%= f.text_field :personId, :placeholder => "Enter person id", :class => "form-control" %><br>
  </div>

  <div class="form-group">
     <label>Work</label>
    <%= f.text_field :work, :placeholder => "Want to work at", :class => "form-control" %><br>
  </div>

  <div class="form-group">
     <label>Term</label>
    <%= f.text_field :term, :placeholder => "Enter which term", :class => "form-control" %><br>
  </div>

  <div class="form-group">
     <label>Comment</label>
    <%= f.text_field :personId, :placeholder => "Enter comment", :class => "form-control" %><br>
  </div>

  <%= f.submit :value => "Save Worker",  :class => "btn btn-default" %>
  <button class="btn btn-default" type="submit" id="cancel_member_button">Cancel</button>

<% end %>