<script text="text/javascript">

// Jquery datatable code
  $('#worker_table').DataTable( {
      initComplete: function () {
        console.log("html file")
        jquery_data_table(this)
    }
  } );

</script>

<table class="display responsive no-wrap" id="worker_table" width="100%">
  <thead>
    
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Worked</th>
      <th>Contacted</th>
      <th>Last contacted</th>
      <th style="display: none">Interested in working with</th>
      <th>Profile</th>
    </tr>
  </thead>
  <!-- The footer is used to build the activities filter -->
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Worked</th>
      <th>Contacted</th>
      <th>Last contacted</th>
      <th id="activities-footer" style="display: none">Interested in working with</th>
      <th>Profile</th>
    </tr>
  </tfoot>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td>
        <a href="tel:<%= member.mobile %>">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <%= member.mobile %>
          </button>
        </a>
      </td>
      <td>
        <%= member.jobs.length %>
        <span data-toggle="modal" data-target=".bs-job-modal-sm" onclick="formActionValue(<%=member.id%>, 'jobs')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td>
        <%= member.contacteds.length %>
        <span data-toggle="modal" data-target=".bs-contacted-modal-sm" onclick="formActionValue(<%=member.id%>, 'contacteds')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <% if member.contacteds.last.nil? %>
        <% last_contacted = "Never contacted" %>
      <% else %>
        <% last_contacted = member.contacteds.last.date %>
      <% end %>
      <td><%= last_contacted %></td>
      <td id="table-activity-column" style="display: none"><%= member.activities %> </td>
      <td>
        <%= link_to cooperative_member_path(@cooperative, member) do %>
        <button type="button" class="btn btn-default btn-default">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
        </button>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

