<!-- Jquery datatable code -->
<script type="text/javascript">
   $(document).ready(function() {
    $('#worker_table').dataTable();
  });
</script>

<table class="display" id="worker_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th>Worked</th>
      <th>Contacted</th>
      <th>Last contacted</th>
      <!-- Used for table filtering -->
      <th style="display:none"></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr class="worker_row">
      <td onclick="show_worker('<%= cooperative_member_path(@cooperative, member) %>')"><%= member.name %></td>
      <td onclick="show_worker('<%= cooperative_member_path(@cooperative, member) %>')"><%= member.mobile %></td>
      <td>
        <%= member.jobs.length %>
        <span data-toggle="modal" data-target=".bs-job-modal-sm" onclick="formActionValue(<%=member.id%>, 'jobs')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td>
        <%= member.contacteds.length %>
        <span data-toggle="modal" data-target=".bs-contacted-modal-sm" onclick="formActionValue(<%=member.id%>, 'contacteds')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <% if member.contacteds.last.nil? %>
        <% last_contacted = "Never contacted" %>
      <% else %>
        <% last_contacted = member.contacteds.last.date %>
      <% end %>
      <td onclick="show_worker('<%= cooperative_member_path(@cooperative, member) %>')"><%= last_contacted %></td>

      <!-- Used for table filtering -->
      <td id="members_list_work" style="display:none"> <%= member.activities %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
