<%= render 'user_members/user_member_form' %>
<table class="table">
  <thead>
    <tr>
      <th><%= t('form.name') %></th>
      <th><%= t('member.created_at') %></th>
      <th><%= t('header.user_member') %></th>
      <th><%= t('member.profile') %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= date(member.created_at) %></td>
      <td>
         <a data-toggle="modal" data-target="#userMemberFormModel" onclick="set_form_member_id(<%= member.id %>)"class="btn btn-default" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><%= t('randomizer.user_member') %></a> 
      </td>
      <td>
        <%= link_to member_path(member) do %>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t('member.profile') %>
        </button>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members %>
