<table class=" table table-bordered display responsive no-wrap" id="worker_table" width="100%">
  <thead>
    <tr>
      <th><%= t('form.name') %></th>
      <th><%= t('form.mobile') %></th>
      <th><%= t('member.job') %></th>
      <th><%= t('member.contacted') %></th>
      <th><%= t('member.last_contacted') %></th>
      <th><%= t('member.profile') %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td>
        <a href="tel:<%= member.mobile %>">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <%= member.mobile %>
          </button>
        </a>
      </td>
      <td>
        <%= member.nbr_jobs %>
        <span data-toggle="modal" data-target=".bs-job-modal-sm" onclick="formActionValue(<%=member.id%>, 'jobs')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td>
        <%= member.nbr_contacteds %>
        <span data-toggle="modal" data-target=".bs-contacted-modal-sm" onclick="formActionValue(<%=member.id%>, 'contacteds')" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td>
      <td><%= member.last_contacted %></td>
      <td id="table-activity-column" style="display: none"><%= member.activities %> </td>
      <td>
        <%= link_to member_path(member) do %>
        <button type="button" class="btn btn-default btn-default">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t('member.profile') %>
        </button>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members %>