<table class="table">
  <thead>
    <tr>
      <th><%= t('form.name') %></th>
      <th><%= t('form.mobile') %></th>
      <!-- <th><%= t('member.job') %></th> -->
      <th><%= t('member.contacted') %></th>
      <th><%= t('member.last_contacted') %></th>
      <th><%= t('member.profile') %></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td>
        <%= member.mobile %>
      </td>
      <!-- <td>
        <%= member.nbr_jobs %>
        <span data-toggle="modal" data-target=".bs-job-modal-sm" onclick="formActionValue(<%=member.id%>)" class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
      </td> -->
      <td>
        <%= member.nbr_contacteds %>
        <%= link_to member_add_path(member) do %>
          <span class="glyphicon glyphicon-plus clickable" aria-hidden="true"></span>
        <% end %>
      </td>
      <td><%= format_date(member.last_contacted) %></td>
      <td>
        <%= link_to member_path(member) do %>
        <button type="button" class="btn btn-default btn-default">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t('member.profile') %>
        </button>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members %>