<h3><%= @member.name %></h3>
<ul class="list-group">
  <li class="list-group-item"> <strong>Mobile: </strong> <%= @member.mobile %></li>
  <li class="list-group-item"> <strong>Interested in: </strong> <%= @member.work.tr('[]\"','') %></li>
  <li class="list-group-item"> <strong>Email: </strong> <%= @member.email %></li>

  <li class="list-group-item"> <strong>Date added: </strong> <%= @member.dateAdded %></li>
  <li class="list-group-item"> <strong>Person id: </strong> <%= @member.personId %></li>
  <li class="list-group-item"> <strong>Term: </strong> <%= @member.term %></li>
  <li class="list-group-item"> <strong>Work card: </strong> <%= @member.workCard %></li>
  <li class="list-group-item"> <strong>Contacted: </strong> <%= @member.contacteds.length %></li>
  <li class="list-group-item"> <strong>Worked: </strong> <%= @member.jobs.length %></li>
  <li class="list-group-item"> <strong>Comment: </strong> <%= @member.comment %></li>
</ul>

</br>

<h3>Worked</h3>
<%= render 'jobs/table' %>

<h3>Contacted</h3>
<%= render 'contacteds/table' %>





