<h3 style="display: inline; margin-"><%= @member.name %></h3>

<%= link_to edit_cooperative_member_path(@cooperative, @member) do %>
<div style="font-size: 1.1em; display:inline-block">
<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
</div>
<% end %>

<%= link_to cooperative_member_path(@cooperative, @member),
        method: :delete,
        data: { confirm: 'Are you sure?' }  do %>
        <div style="font-size: 1.1em; display:inline-block">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
        </div>
<% end %>

<ul class="list-group">
  <li class="list-group-item"> <strong>Mobile: </strong> <%= @member.mobile %></li>
  <li class="list-group-item"> <strong>Activities: </strong> <%= @member.activities %></li>
  <li class="list-group-item"> <strong>Email: </strong> <%= @member.email %></li>
  <li class="list-group-item"> <strong>Date added: </strong> <%= @member.dateAdded %></li>
  <li class="list-group-item"> <strong>Person id: </strong> <%= @member.personId %></li>
  <li class="list-group-item"> <strong>Contacted: </strong> <%= @member.contacteds.length %></li>
  <li class="list-group-item"> <strong>Worked: </strong> <%= @member.jobs.length %></li>
  <li class="list-group-item"> <strong>Comment: </strong> <%= @member.comment %></li>
</ul>

</br>

<h3>Worked</h3>
<%= render :partial => 'shared/worker_info_table', locals: {worker_info: @member.jobs}  %>

<h3>Contacted</h3>
<%= render :partial => 'shared/worker_info_table', locals: {worker_info: @member.contacteds}  %>





