<h3 style="display: inline; margin-"><%= @member.name %></h3>

<%= link_to edit_member_path(@member) do %>
<div style="font-size: 1.1em; display:inline-block">
<span class="glyphicon glyphicon-edit" aria-hidden="true"></span><%= t('member.edit') %>
</div>
<% end %>

<%= link_to member_path(@member),
        method: :delete,
        data: { confirm: t('member.confirm_destroy') }  do %>
        <div style="font-size: 1.1em; display:inline-block">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span><%= t('member.delete') %>
        </div>
<% end %>

<ul class="list-group">
  <li class="list-group-item"> <strong><%= t('form.mobile') %>: </strong> <%= @member.mobile %></li>
  <li class="list-group-item"> <strong><%= t('form.activities') %>: </strong> <%= member_activities(@member) %></li>
  <li class="list-group-item"> <strong><%= t('form.email') %>: </strong> <%= @member.email %></li>
  <li class="list-group-item"> <strong><%= t('member.created_at') %>: </strong> <%= format_date(@member.created_at) %></li>
  <li class="list-group-item"> <strong><%= t('form.date_of_birth') %>: </strong> <%= @member.date_of_birth %></li>
</ul>

</br>

<h3><%= t('member.contacted') %></h3>
<%= render :partial => 'shared/member_statistics_table', locals: {statistics: @member.contacteds}  %>
