<!-- Hidden rows i member list html-->
      <% if member.jobs.length.to_s != 0.to_s %>
      <tr>
        <td colspan="6" class="hiddenRow">
          <div class="accordian-body collapse <%=member.id%>"> 
            <h3>Worked</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Activity</th>
                  <th>Comment</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% member.jobs.each do |job| %>
                <tr>
                  <td><%= job.date %></td>
                  <td><%= job.activity %></td>
                  <td>
                    <% if job.comment %>
                    <%= job.comment %>
                    <% end %>
                  </td>
                  <td> <%= link_to 'Delete', [job.member, job],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %></td>
                 </tr>
                 <% end %>
               </tbody>
             </table>

           </div> 
         </td>
       </tr>
       <% end %> 
       <% if member.contacteds.length.to_s != 0.to_s %>
       <tr>
        <td colspan="6" class="hiddenRow">
          <div class="accordian-body collapse <%=member.id%>"> 
            <h3>Contacted</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Activity</th>
                  <th>Comment</th>
                  <th colspan="1"></th>
                </tr>

              </thead>
              <% member.contacteds.each do |contacted| %>
              <tbody>
                <tr>
                  <td><%= contacted.date %></td>
                  <td><%= contacted.activity %></td>
                  <td><%= contacted.comment %></td>
                  <td> <%= link_to 'Delete', [contacted.member, contacted],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %></td>
                 </tr>
               </tbody>
               <% end %>
             </table>
           </div> 
         </td>
       </tr>
       <% end %>
       <% if member.jobs.length.to_s == 0.to_s && member.contacteds.length.to_s == 0.to_s %>
       <tr>
        <td colspan="6" class="hiddenRow">
          <div class="accordian-body collapse <%=member.id%>"><p class="lead" style="margin-left:20px">No history</p>
          </div>
        </td>
      </tr>
      <% end %> 





<!-- edit delete knapp -->

<%= link_to 'Edit', edit_member_path(@member) %>
<%= link_to 'Delete', member_path(@member),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>

<!-- kommer ej ihag vad detta e for -->
<h1>Editing member</h1>
 
<%= form_for @member, url: member_path(@member) do |f| %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :personId %><br>
    <%= f.text_field :personId %>
  </p>

  <p>
    <%= f.label :work %><br>
    <%= f.text_field :work %>
  </p>

  <p>
    <%= f.label :term %><br>
    <%= f.text_field :term %>
  </p>

  <p>
    <%= f.label :workCard %><br>
    <%= f.text_field :workCard %>
  </p>

  <p>
    <%= f.label :dateAdded %><br>
    <%= f.text_field :dateAdded %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </p>

  <p>
    <%= f.submit :value => "Update Worker" %>
  </p>
 
<% end %>
 
<%= link_to 'Back', members_path %>